{% extends "layout.html" %}

{% block title %}
Tweet Form
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Django's project</h1>
<h2>
    {% if form.instance.pk %} 
    Edit Tweet 
    {% else %} 
    Create tweet 
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.instance.pk %} 
            <button class="btn btn-warning" type="submit">Update</button> 
        {% else %} 
            <button class="btn btn-warning" type="submit">Tweet</button>
        {% endif %}
    </form>
    <a href="{% url 'tweet_list' %}">Back to tweet list</a>
</h2>
{% endblock %}